//===============================================
//Variables
//===============================================

//==============================================================================
//-------------------------Colors
//==============================================================================
$color-primary:#699;
$color-primary-dark: darken($color-primary, 20%);
$color-primary-light: lighten($color-primary, 20%);
$color-secondary: #6b717f;

//---------buttons
$fountain-blue  : #52bab3;
$emerald        : #5ece7f;
$sunglo         : #e67478;
$coral          : #ff784f;
$purple-majesty : #9279c3;
$scooter        : #39add1;
//Map
$ui-colors: (
	default : $fountain-blue,
	success : $emerald,
	error   : $sunglo,
	warning : $coral,
	info    : $purple-majesty,
  12   : $fountain-blue,
  6   :  #ee8968,
  4    : #ee969c,
  3   :  #33a5c6,
  5   :  #81da96,
  7   :  #66d6f0,
  8   :  #dda3f1,
  );
//-----------navigation
$nav-text: #808c99;
$nav-text-dark: darken($nav-text, 25%);
$nav-text-light: lighten($nav-text, 25%);
//-------------------------Link
$link: #39CCCC;
//-----------------pure colors
$white: #fff;
$purple: #9A68C7;
$blue: #3BA9E4;
$green: #75B343;
$orange: #FF6A42;
$red: tomato;

// Grid
$grid-colors:(
  '12': #77e2c1,
  '8' : #ee8968,
  '7' : #ee969c,
  '6' : #33a5c6,
  '5' : #81da96,
  '4' : #66d6f0,
  '3' : #dda3f1,
);

$grid-items: ('3', '4', '5', '6', '7', '8', '12');


//==============================================================================
//-------------------------Gutters
//==============================================================================

$em: 1em;
$gutter: 16px;
$standard: 25px;
$large-gut: 50px;
$max-width: 1000px;
// check this
//==============================================================================
//-------------------------Text-align
//==============================================================================

$t-a-c: center;
$t-a-l: left;
$t-a-r: right;

//==============================================================================
//-------------------------BreakPoints
//==============================================================================
$break-m: 769px;
$break-l: 1400px;

//==============================================================================
//-------------------------Typography
//==============================================================================

//-----------weight
$w-light:	300;
$w-regular:	400;
$w-bold:	600;
//-------------size
$s-small:	0.9em;
$s-regular:1em;
$s-large:	1.4em;
$s-x-large:	1.8em;
//--------------font famiy
$font-family-text: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-display:	Georgia, "Times New Roman", Times, serif;
//--------------------style
$cursive: italic;
$obligue: obligue;
//==============================================================================
//-------------------------Text Decoration
//==============================================================================
$n: none;

//==============================================================================
//-------------------------Grid
//==============================================================================
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1400px;
//==============================================================================
//-------------------------Borders
//==============================================================================
$border-primary: 4px solid green;

//==============================================================================
//-------------------------Flex
//==============================================================================
$flex: flex;
$row: row;
$flow: column;
$flex-wrap: wrap;
$just-center: center;
$just-space-around: space-around;
$just-space-between: space-between;
