//==============================================================================
//-------------------------Buttons
//==============================================================================
%btn {
  width: 100%;
  padding: $em;
  flex: 1 per-line(5);
  margin:$gutter;
  border-radius: 8px;
  text-decoration:$n;
  text-transform: uppercase;
  color: $white;
     &:hover {
      color: $white;
      opacity: 0.8;
    }
    &:active {
      opacity: initial;
}
}
//==============================================================================
//------------------------Navigation
//==============================================================================
%grid {
  width: 100%;
  padding: $em;
  margin:$gutter;
  text-transform: uppercase;
}
//==============================================================================
//------------------------Images
//==============================================================================
%img{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-radius: 5px;
  display: block ;
  

  // cursor: pointer;
  // transition: 0.3s;
  // &:hover {
  //   opacity: 0.7;
  // }
}



//==============================================================================
//------------------------Navigation
//==============================================================================
%nav{
  border: $n;
  list-style: $n;
  padding: 2%;


}
%li {
 flex: 1;

}
%a {
  text-transform: uppercase;
  text-decoration: none;
  color: $nav-text;
}
%hover {
  background-color: $color-secondary;
  color: $white;
  border-radius: $em;
}
%active {
  background-color: $color-primary;
}
//==============================================================================
//------------------------Form
//==============================================================================
%form-label {
  display: none;
}
%form-input {
  border-top: $n;
  border-right: $n;
  border-left: $n;
  border-bottom: $border-primary;
  text-align: $t-a-c;
}

//==============================================================================
//-------------------------Link
//==============================================================================
%link {
  color: $link;
  text-decoration: $n;
  font-weight: $w-bold;
    &:hover {
      font-size: 1.5em;
    }
}
//==============================================================================
//------------------------blockquete
//==============================================================================
%blockquote {
  border-left: $border-primary;
  padding-left: 2%;
}
//==============================================================================
//-------------------------Theme columns
//==============================================================================
%theme-colors {
  padding: $em;
  margin:$gutter;
  text-transform: uppercase;
  color: black;
}

//==============================================================================
//------------------------Form
//==============================================================================
%head {
  text-align: $t-a-c;
}
//==============================================================================
//-------------------------Clearfix
//==============================================================================
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}