//==============================================================================
//-------------------------the universal selector (*)
//==============================================================================

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
  font-family: 'Roboto Slab', 'Courier New', Courier, monospace;
}